@charset "UTF-8";
/* CSS Document */

.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;

}

#mainContent {
        display: grid;
        grid-template-columns: repeat(4, 85px);
        grid-column-gap: 16px;
        padding-left: 20px;
        padding-right: 20px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
    font-family: 'Fredoka', sans-serif;
    color: orange;

}

article {
    grid-column: 1/-1;
}

img {
    margin-top: 15px;
    width: 390px;
    height: 490px;
    object-fit: cover;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.4em;
    font-family: 'Fredoka', sans-serif;
    color: orange;
    line-height: 25px;
    letter-spacing: 1px;
}

.review {
    font-size: 1.15em;
    font-family: 'Carlito', sans-serif;
    color: rgb(92, 90, 88);
    margin-top: 12px;
    line-height: 20px;
    letter-spacing: -0.05px;

}

.info{
    font-size: 1em;
    font-family: 'Carlito', sans-serif;
    color: rgb(92, 90, 88);
    font-style: italic;
    letter-spacing: -0.05px;
}


